@model WebAppMVC.Models.Supplier

@{
    ViewData["Title"] = "Supplier Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Supplier Information</h1>



<button class="btn btn-sm btn-primary m-2" id="btnAddSupplier"> Add Supplier</button>

<table class="table table-border">
    <thead>
        <tr class="text-center">
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="text-center" id="supplier_data"></tbody>
</table>


<div class="modal fade" id="addSupplierModal" tabindex="-1" aria-labelledby="addSupplierModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSupplierModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" asp-for="SupplierID" value="0" />
                <div class="mb-2">
                    <label asp-for="SupplierName">Enter Supplier Name</label>
                    <input type="text" asp-for="SupplierName" class="form-control" placeholder="Supplier Name" />
                </div>
            </div>
            <div class="modal-footer">
                @* <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> *@
                <button class="btn btn-primary" id="save" type="submit" onclick="Insert()">Save </button>
                <button class="btn btn-warning" id="update" type="submit" onclick="Update()">Update</button>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/js/inventory/Supplier.js"></script>